Source: pycassa
Section: python
Priority: optional
Maintainer: paul cannon <paul@datastax.com>
Build-Depends: debhelper (>= 5), python-all, cdbs, python-support
Standards-Version: 3.9.1

Package: python-pycassa
Architecture: all
Depends: ${python:Depends}, python-thrift (>= 0.5.0)
Provides: ${python:Provides}
Description: Client library for Apache Cassandra
 Pycassa is a client library for Apache Cassandra with the following
 features:
 .
  * Automatic failover and operation retries
  * Connection pooling
  * Multithreading support
  * A batch interface
  * A class for mapping classes to Cassandra column families
 .
 This version is compatible with Cassandra 0.7 and 0.8.
