#!/usr/bin/make -f

%:
	dh $@

build:
	dh build
	python setup.py doc

override_dh_auto_install:
	dh_auto_install -ppython-pycassa --destdir=debian/python-pycassa

override_dh_installchangelogs:
	dh_installchangelogs CHANGES

override_dh_compress:
	dh_compress -X pycassa-doc/manual

clean:
	dh clean
	$(RM) -r doc/_build
